<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <img class="logo-mini" src="https://socialfrontier.com/images/SocialFrontierlogo.png" alt="Hostio">
                <br>
                <a class="footer-nav" href="/about">About us</a>
                <span> | </span>
                <a class="footer-nav" href="/contact">Contact Us</a>
                <span> | </span>
                <a class="footer-nav" href="http://blog.socialfrontier.com" target="_blank">Blog</a>
                <div class="social">
                    <a href="https://twitter.com/socialfrontierr/" target="_blank">
                        <i class="oi oi-twitter"></i>
                    </a>
                    <a href="https://facebook.com/socialfrontier" target="_blank">
                        <i class="oi oi-facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/13239640" target="_blank">
                        <i class="oi oi-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div style="color:#7a8093">US OFFICE</div>
                <div class="phone">
                    <i class="oi oi-phone"></i> +1 267-526-5248</div>
                <div class="email">
                    <i class="oi oi-envelope-closed"></i> us@socialfrontier.com</div>
                <div class="address">
                    <div>
                        <i class="oi oi-map-marker"></i> 16192 Coastal Hway, Lewes, DE 19958 </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div style="color:#7a8093">INDIA OFFICE</div>
                <div class="phone">
                    <i class="oi oi-phone"></i> +91 93802 87418</div>
                <div class="email">
                    <i class="oi oi-envelope-closed"></i> us@socialfrontier.com</div>
                <div class="address">
                    <div>
                        <i class="oi oi-map-marker"></i> 2nd Floor, 212/A, 1st Main Road, Stage 2, Domlur
                        <br>&nbsp; &nbsp;   Bangalore 560071</div>
                </div>

            </div>



            <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="color:#7a8093;">
                Copyright © 2018-19 |
                <span>
                    <a href="/index">Social Frontier</a>
                </span> |
                <span>
                    <a href="/privacy">Privacy Policy</a>
                </span> |
                <span>
                    <a href="/termsandconditions">Terms And Conditions</a>
                </span>
            </div>
        </div>
    </div>
</div>