<div class="about">
    <div class="container">
        <h1 class="title">ABOUT SOCIAL FRONTIER</h1>
        <p>
            Social frontier is a Digital Marketing Agency that specializes in 360-degree marketing integration. We believe that a good marketing initiative will fetch results not only in the short term but also the results will multifold in years to come. In order
            to meet the objective with the result, Social Frontier backs every marketing initiative with technology.
        </p>
        <p>We ensure the customer finds value throughout the buyer's journey. Our 360-degree marketing approach enables us to have a well thought and integrated cross- channel promotion. At every touch point whether it is social media, paid advertising,
            email, mobile or search, customer experiences a rich integrated content. Social Frontier ensures that the marketing message holds its essence across the channels of promotion. The brand message is optimized keeping in mind the platform used
            and customer behavior.
        </p>
    </div>
</div>